<h1>Painel Alunos</h1>
<a href="/admin/cadastro_alunos">
    <button class="btn btn-primary">Cadastrar Aluno</button>
</a>

{{#each alunos}}
    <div class="card mt-2">
        <div class="card-body">
            <h3>{{nome}}</h3>
            <hr>
            <p>{{telefone}}</p>
            <p>{{curso}}</p>
            <p>{{data_nascimento}}</p>
            <p>{{horario_curso}}</p>
            <p>{{dia_curso}}</p>
        </div>
    </div>
{{else}}

{{/each}}